* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;    
    min-height: 1500px;
}
.row {
    justify-content: space-between;
    align-items: center;    
}
header {
    background-color: #1d2126; 
    position: sticky;  
    top: 0;
    z-index: 10px;
}
.header-row {
    height: 80px;    
}
.menu {
    display: flex;
    justify-content: center; 
    max-width: 66.66667%;  
    padding: 15px 0px;  
}
li {
    list-style-type: none;
}
.menu a {
    display: block;
    color: white;
    text-decoration: none;
    line-height: 15px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: transparent solid 2px;
    border-radius: 10px;
    margin:0px 5px;
    padding: 8px 10px;
}
.menu a:hover {
    border: #a4a5a8 solid 2px;
}
.menu a:active {
    border: #23b7a3 solid 2px;
    color: #23b7a3;
}
.type-buttom {
    border: solid 2px #a4a5a8;
    border-radius: 10px;
    min-height: 30px ;    
}
input {
    outline: none;   
    width: 75%;
    font-family: 'Open Sans', sans-serif; 
    font-size: 14px;
    font-weight: 600;
    color: white;
    line-height: 30px;
    background-color: transparent;
    border: none;
    padding-left: 10%;
}
.search-submin {
    width: 25px;
    height: 25px;
    background-color:transparent;
    background-image: url("Img/icon (1).png");
    background-repeat: no-repeat;
    border: none;
    margin-top: 0.25%;    
    background-position: center;
    position: absolute;
}
.yellow-flower {
    background: 55% 100% no-repeat;
    background-image: url("Img/img (2).png");
    background-size: cover;
}
[class*='section-'] {
    padding-top: 85px; 
    padding-bottom: 100px;
}
.section-1 {
    color: white; 
    padding-top: 100px;
    padding-bottom: 100px;         
}
[class*='white-text-'] {
    padding: 10px 0px;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 3%;
    color: white;
}
.white-text-2 {
    padding-left: 25px;
    padding-top: 40px;   
}
.sm-white-text {
    font-size: 16px;
    font-weight: 300;
    padding: 5px 0px;
    color: white;
}
.white-text-18 {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0px;    
}
.section-1 button {
    width: 125px;
    height: 45px;
    margin-top: 5%;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    font-weight: 300;
    background-color: transparent;
    border: white 2px solid;
    border-radius: 10px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 3%;
}
.section-1 button:hover {
    border: #23b7a3;
    background-color: #23b7a3;
}
.background-white {
    background-color: white;
    border-bottom: #c7c8ca solid 1px;
    padding: 70px 0px 70px;
}
.section-2, .foto, .photo, .work, .features {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;           
}
 .section-5{
    display: flex;
    flex-direction: column;     
}
.black-text {
    font-size: 36px;
    font-weight: 900;
    color: #000;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 20px;
}
.sm-grey-text {
    font-size: 16px;
    font-weight: 400;
    color: #a4a5a8;
    padding: 18px 0px;
}
.sm-black-text {
    font-size: 18px;
    font-weight: 600;       
}
.img-social {
    display: flex;
    flex-direction: row;
}
.img-social div {   
   width: 60px;
   height: 60px;
   background-color: #a4a5a8;
   margin-right: 1px;
   margin-top: 35px;
   margin-bottom: 60px;
   align-self: flex-start;
}
.img-social img {
    padding: 10%;
}
[class*='img-number-'] {
    display: flex;
    margin-bottom: 15px;
}
.text-square {
    padding-top: 165px;
}
.square {
    background-color: #23b7a3;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    align-self: flex-start;
    padding: 0px 14px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.persona {
    margin-bottom: 30px;
}
.team {   
    color: black;    
}   
.foto-soc {
    display: flex;   
    flex-direction: column;
    align-items: center;
    background-color: #d3d9dd;
}
.team .name {
    padding-left: 20px;
    width: 265px;
    background-color: #d3d9dd;
}
.foto-soc:hover {
    background-color: #f5f5f59c;
}
.foto-soc:hover [class*='soc-'] {
    display: block;
}
.foto-soc:hover .name {
    background-color: #38434a;
    color: white
}
.hover {
    position: absolute;
    display: flex;
    align-self: center;
    padding: 124px 0px;
}
[class*='soc-'] {
    display: none;
    width: 50px;
    height: 50px;
    background-color: #38434a;
    margin: 1px; 
    background-repeat: no-repeat;
    background-position: center;    
}
s.sm-black-text-16 {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0px;
}
.sm-grey-text-15 {
    font-size: 15px;
    font-weight: 400;
    color: #a4a5a8;
    padding: 5px 0px;
}
.background-grey {
    background-color: #38434a;
    padding: 70px 0px 100px;
}
.lovely-work img {
    margin: 15px 0px;
}
.lovely-button {
    display: flex;
    justify-content: center;
}
.lovely-work button {
    width: 150px;
    height: 50px;
    color: white;
    border: white solid 1px;
    border-radius: 10px;
    background-color: transparent;
    margin: 45px 105px 25px;
}
.lovely-work button:hover {
    background-color: #23b7a3;
}
.work {
    margin: 30px 0px;
}
[class*='icon-'] {
    background-color: transparent;
    height: 50px;
    background-repeat: no-repeat;
    margin: 30px 0px;
    background-position: center;
}
.what-do p {
    display: flex;
    justify-content: center;
}
.icon-1 {
    background-image: url('Img/icon (12).png');
}
.icon-2 {
    background-image: url('Img/icon (14).png');
}
.icon-3 {
    background-image: url('Img/icon (11).png');  
}
.icon-4 {
    background-image: url('Img/icon (13).png');
}
[class*='picture-'] {
    width: 360px;
    height: 240px;
    background-repeat: no-repeat;
    margin: 30px 0px;
}
.picture-1 {
    background-image: url('Img/img (15).png');
}
.picture-2 {
    background-image: url('Img/img (14).png');
}
.picture-3 {
    background-image: url('Img/img (13).png');
}
